{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <div class="row baguette-gallery">
        {{ range .Site.Data.gallery }}
        <div class="col-md-4 mb-4">
            {{ $img := resources.Get .image }}
            {{ with $img }}
                {{ $thumb := .Crop "300x200 Center" }}
                <a href="{{ .RelPermalink }}" class="baguette-item">
                    <img src="{{ $thumb.RelPermalink }}" class="gallery-img">
                </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
