<h2>Gallery</h2>
<div class="row baguette-gallery">
        {{ range .Site.Data.frontpagegallery }}
        <div class="col-md-4 mb-4">
            {{ $img := resources.Get .image }}
            {{ with $img }}
                {{ $thumb := .Fill "300x300 Center" }}
                <a href="{{ .RelPermalink }}" class="baguette-item">
                    <img src="{{ $thumb.RelPermalink }}" class="gallery-img" style="height: 300px">
                </a>
            {{ end }}
        </div>
        {{ end }}
</div>
