<nav class="navbar navbar-light navbar-expand" style="background-color: transparent;">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img src="{{ "/images/logo.webp" | relURL }}" alt="New Palace Painting Logo" width="30" height="30" class="" style="top: -3px; position: relative; margin-right:10px;">
            {{ .Site.Title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/gallery/" | relURL }}">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
