<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img src="{{ "images/logo.png" | relURL }}" alt="New Palace Painting Logo" width="30" height="24" class="d-inline-block align-text-top">
            {{ .Site.Title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#services">Services</a>
                </li>
                <li class="nav-item">
                    <!-- DEBUG: Original anchor link that only works on home page -->
                    <!-- <a class="nav-link" href="#gallery">Gallery</a> -->
                    <!-- FIXED: Use proper page URL that works from any page -->
                    <a class="nav-link" href="{{ "/gallery/" | relURL }}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
