{{ range $i, $item := .Site.Data.header }}
    {{ if $item.video }}
        {{ $video := resources.Get $item.video }}
            <div class="topvideo">
                <video class="d-block w-100" autoplay muted loop playsinline style="object-fit: cover;  height: auto;">
                    <source src="{{ $video.RelPermalink }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {{ if $item.title }}
                <div class="carousel-caption d-block video-caption">
                    <h1 class="mb-3">{{ $item.title }}</h1>
                    <span class="video-description">
                    {{ if $item.description }}
                    <p class="mb-4">{{ $item.description }}</p>
                    {{ end }}
                    </span>
                    <a href="tel:{{ $.Site.Params.contact.phone }}" class="btn btn-outline-light btn-lg" style="border-radius: 28px; font-weight: 500; padding: 12px 32px;">FREE QUOTE</a>
                </div>
                {{ end }}
            </div>
    {{ end }}
{{ end }}
