<h2>Our Services</h2>
<div class="row">
    {{ range .Site.Data.servicecards }}
    <div class="col-md-4 mb-4">
        <div class="card">
            {{ $title := .title }}
            {{ $img := resources.Get .image }}
            {{ with $img }}
                {{ $thumb := .Fill "300x300 Center" }}
                <img src="{{ $thumb.RelPermalink }}" class="card-img-top" alt="{{ $title }}">
            {{ end }}
            <div class="card-body">
                <h5 class="card-title">{{ .title }}</h5>
                <p class="card-text">{{ .text }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
