<h2>Testimonials</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">"Justin did an incredible job covering up a very dark red paint in our home with no problem. He was extremely personable, timely, efficient, and kind. I would recommend him to anyone!"</p>
                <footer class="blockquote-footer">Deryn S.</footer>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">"Justin did a great job for us! He painted our whole finished basement and upstairs bungalow bedroom. Very tidy, attention to detail and gives great suggestions."</p>
                <footer class="blockquote-footer">Aimy B.</footer>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="card">
            <div class="card-body">
                <p class="card-text">"Justin is professional, great communicator, detail oriented and always makes sure the job is done right. He painted our whole house and our neighbours also hired him for similar project."</p>
                <footer class="blockquote-footer">Sinan U.</footer>
            </div>
        </div>
    </div>

</div>
