body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
    margin-right: 10px;
}

#hero {
    height: 80vh;
}

.carousel-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.carousel-item-1 {
    background-image: url('../images/carousel-1.webp');
}

.carousel-item-2 {
    background-image: url('../images/carousel-2.webp');
}

.carousel-item-3 {
    background-image: url('../images/carousel-3.webp');
}

.carousel-item-4 {
    background-image: url('../images/carousel-4.webp');
}



.gallery-img {
  width: 100%; /* Ensures the image fills the container */
  height: 150px; /* Set a fixed height for uniformity */
  object-fit: cover; /* Crops and maintains aspect ratio */
  border-radius: 5px; /* Optional: adds smooth edges */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effect */
}

/* Optional: Add a hover effect */
.gallery-img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}
